{% extends 'default/index.html.twig' %}

{% block body %}

<h2>Alta Personas</h2>

<div class="form-horizontal">
    {{ form_start(form) }}

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.apellido)}} </div>
        <div class="col-md-10"> {{ form_widget(form.apellido) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.nombres)}} </div>
        <div class="col-md-10"> {{ form_widget(form.nombres) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.tipoDocum)}} </div>
        <div class="col-md-10"> {{ form_widget(form.tipoDocum) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.numeroDocumento)}} </div>
        <div class="col-md-10"> {{ form_widget(form.numeroDocumento) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.domicilio)}} </div>
        <div class="col-md-10"> {{ form_widget(form.domicilio) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.fechaNacimiento)}} </div>
        <div class="col-md-10"> {{ form_widget(form.fechaNacimiento) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.telefono)}} </div>
        <div class="col-md-10"> {{ form_widget(form.telefono) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.celular)}} </div>
        <div class="col-md-10"> {{ form_widget(form.celular) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.correoElectronico)}} </div>
        <div class="col-md-10"> {{ form_widget(form.correoElectronico) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.nacPais)}} </div>
        <div class="col-md-10"> {{ form_widget(form.nacPais) }} {# <select id="Nac_Pais_ID"></select>#} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.nacProvincia)}} </div>
        <div class="col-md-10"> {{ form_widget(form.nacProvincia) }} {# <select id="Nac_Pronvicia_ID"></select>#} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.nacLocalidad)}} </div>
        <div class="col-md-10"> {{ form_widget(form.nacLocalidad) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.estadoCivil)}} </div>
        <div class="col-md-10"> {{ form_widget(form.estadoCivil) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.resiPais)}} </div>
        <div class="col-md-10"> {{ form_widget(form.resiPais) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.resiProvincia)}} </div>
        <div class="col-md-10"> {{ form_widget(form.resiProvincia) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.resiLocalidad)}} </div>
        <div class="col-md-10"> {{ form_widget(form.resiLocalidad) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.genero)}} </div>
        <div class="col-md-10"> {{ form_widget(form.genero) }} </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> {{form_label(form.activo)}} </div>
        <div class="col-md-10"> {{ form_widget(form.activo) }} </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
    </div>

    {{ form_end(form) }}
</div>

<script>
var $nacPais = $('#Nac_Pais_ID');
// When sport gets selected ...
$nacPais.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data[$nacPais.attr('name')] = $nacPais.val();
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      // Replace current position field ...
      $('#Nac_Pronvicia_ID').replaceWith(
        // ... with the returned one from the AJAX response.
        $(html).find('#Nac_Pronvicia_ID')
      );
      // Position field now displays the appropriate positions.
    }
  });
});
</script>

{% endblock %}



